@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');


:root {
    /* --life-jacket: #f26627; */
    --life-jacket: #994c29;
    --candle: #f9a26c;
    /* --white: #efeeee; */
    --white: #e9e1de;
    --sea: #9bd7d1;
    /* --dk-sea: #325d79; */
    --dk-sea: #1f3848;
    --dark: #292D32;
}

body {
    background: var(--dk-sea);
    color: var(--white);
    display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

header {
    margin: .5rem;
    padding: .5rem;
}

title-container {
    height: 1rem;
    width: auto;
}

img-and-txt {
    display: flex;
        justify-content: center;
        align-items: center;
    margin-bottom: .5rem;
}

title-container img {
    height: 3.5rem;
}

title-container h1 {
    align-self: center;
    color: var(--white);
    font-family: "Platypi", 'Times New Roman', Times, serif;
    font-size:2rem;
    font-weight: 500;
    /* font-style: normal; */
    padding-left: .25rem;
}

button-ctrl-container {
    max-width: 900px;
    align-self: center;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        justify-content: center;
        align-items: center;
        place-items: center;
    margin: auto;
}

.menu-btn {
    height: 3.15rem;
    width: 3.15rem;
    background-color: var(--life-jacket);
    border: .15rem solid var(--white);
    border-radius: 100%;
    justify-self: center;
    margin: .2rem;
}

.menu-btn img{
    height: 1.8rem;
}

.menu-btn:hover {
    background: var(--dk-sea);
}

main-content-container {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

book-card {
    width: 250px;
    border: .5rem double var(--white);
    border-radius: .5rem;;
    display: grid;
        grid-template-areas:
        "book-card-nav-top"
        "book-card-content"
        "book-card-nav-bot";
    margin: 1rem 1rem 0 1rem;
}

book-card:hover{
 background: var(--dark);
}



book-card-content {
    grid-area: book-card-content;
}

book-card-cover {
    height: 300px;
    display: flex;
        justify-content: center;
        align-items: center;
}

book-card-cover img{
    height: 260px;
}

book-card-info {
    height: 300px;
    display: none;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    margin: 0;
    padding: .5rem;
}

book-card-info p {
    font-size: .95rem;
}

.bk-title {
    font-size: 1.45rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.bk-author {
    font-size: 1.15rem;
    font-weight: 500;
}

book-card-nav-top, book-card-nav-bot {
    background: transparent;
}

book-card-nav-top {
    grid-area: book-card-nav-top;
        align-self: start;
        display: none;
        justify-content: space-between;
}

book-card-nav-bot {
    grid-area: book-card-nav-bot;
    align-self: end;
    display: flex;
        justify-content: space-evenly;
}

.bk-btns {
    height: 2.5rem;
    width: 2.5rem;
    background: var(--life-jacket);
    border: .15rem solid var(--white);
    border-radius: 50%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.bk-btns img {
    height: 1.5rem;
}

book-card-nav-top .bk-btns {
    margin: 1rem 1rem 0 1rem;
}

book-card-nav-bot .bk-btns {
    margin-bottom: 1rem;
}

#btn-info:hover, #btn-edit:hover, #btn-xout:hover {
    background: var(--dk-sea);
}

.tog-not-read {
    display: flex;
}

.tog-not-fave {
    display: flex;
}

footer {
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 1rem;
    padding: 1rem;
}

footer p {
    color: var(--candle);
    font-size: 1rem;
    text-align: center;
}

/* @media (width >= 1080px) {
body {
    width: 65vw;

}
} */