@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');


/* ***** TABLE OF CONTENTS ***** */
/* ROOT/BODY                     */
/* HEADER                        */
/* DIALOG-MODALS                 */
/* --> Add-book-modal            */
/* --> Stats-modal               */
/* --> Sort-modal                */
/* --> Sort-modal                */
/* MAIN-CONTENT-CONTAINER        */
/* --> Book-card (cover & info)  */
/* --> Edit-book-form            */
/* FOOTER                        */
/* BUTTONS                       */
/* RADIOS                        */
/* ***** TABLE OF CONTENTS ***** */


/* ROOT/BODY                     */

:root {
    /* --life-jacket: #f26627; */
    --life-jacket: #994c29;
    --candle: #f9a26c;
    --white: #efeeee;
    /* --white: #d5cbc8; */
    --sea: #9bd7d1;
    /* --dk-sea: #325d79; */
    --dk-sea: #1f3848;
    --dark: #292D32;
    --dark-80: #292D3280;

    --border-radius: 2rem;
    --border-px: 2px;
    --cover-info-size: 275px;
    --fieldset-width: 290px;
    --fieldset-input-width: 272px;
    --book-card-width: 290px;
    --edit-form-input-width: 250px;
}

body {
    background: var(--dk-sea);
    border: none;
    color: none;
    display: flex;
        flex-direction: column;
        justify-content: center;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}


/* HEADER                        */

header {
    background: var(--life-jacket);
    border-bottom: var(--border-px) solid var(--white);
    display: block;
    margin-bottom: 3rem;
    padding: 1.5rem;
}

.sticky {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 75px;
    width: 100vw;
    max-width: 100%;
    background: var(--life-jacket);
    border-top: var(--border-px) solid var(--white);
    border-bottom: var(--border-px) solid var(--white);
    z-index: 9;
}

title-container {
    width: auto;
}

img-and-txt {
    display: flex;
        justify-content: center;
        align-items: center;
}

title-container img {
    height: 3.5rem;
}

title-container h1 {
    align-self: center;
    color: var(--white);
    font-family: "Platypi", 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 500;
    padding-left: .25rem;
}

button-ctrl-container {
    max-width: 800px;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        place-content: center;
        align-items: center;
        place-items: center;
    margin: auto;
}


/* DIALOG-MODALS                 */

dialog {
    height: auto;
    width: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; 
    background: var(--dk-sea);
    border: var(--border-px) solid var(--white);
    color: var(--white);
}

form {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

form-header {
    height: 4rem;
    width: var(--fieldset-width);
    border: none;
    color: var(--white);
    display: grid;
        grid-template-columns: .5fr 2.5fr .5fr;
        place-content: space-evenly;
        place-items: center;
    margin: 0 0 .75rem 0;
    padding: 0;
}

form-header h3 {
    font-size: 1.5rem;
    line-height: 2.25;
}

form-header img {
    height: 2.5rem;
}

fieldset {
    width: var(--fieldset-width);
    background: var(--dk-sea);
    border-color: var(--white);
    border-radius: var(--border-radius);
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    font-size: 1rem;;
    margin: .25rem;
}

fieldset:hover {
    background: var(--dark-80);
    border-color: var(--candle);
}

fieldset legend {
    font-weight: 600;
    text-align: left;
}

fieldset label {
    font-size: 1rem;    
    margin-bottom: .15rem;
}

fieldset input[type="text"], fieldset input[type="number"]  {
    height: 1.5rem;
    width: var(--fieldset-input-width);
    border: var(--border-px) solid var(--white);
    border-radius: var(--border-radius);
    font-family: "Teachers", sans-serif;
    font-size: 1rem;
    outline: none;
    margin-bottom: 0.23rem;
    padding-left: .5rem;
}

fieldset input[type="text"]:hover, fieldset input[type="number"]:hover  {
    border: var(--border-px) solid var(--candle);
}

fieldset input[type="text"]:focus, fieldset input[type="number"]:focus  {
    background: var(--sea);
}

form-footer {
    margin-top: .25rem;
}

#stats-dialog fieldset {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

stat-book-div {
    display: flex;
    justify-content: start;
    align-items: center;
}
stat-book-div img {
    height: 2.5rem;
    padding-right: 1.25rem;
}

stat-book-div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style: none;
}

stat-book-div li {
    font-size: 1.25rem;
    padding-left: 1.25rem;
    padding-top: 0;
}

strong {
    color: var(--candle);
    font-size: 1.5rem;
}

#fic-total, #non-fic-total, #pages-read-total, #pages-not-read-total {
    color: var(--sea);
    font-size: 1.25rem;
}

note-well {
    text-align: center;
}

search-results {
    text-align: center;
    font-size: 2rem;
}


/* MAIN-CONTENT-CONTAINER        */

main-content-container {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    margin: 0;
}

/* --> Book-card (cover & info)  */

book-card {
    height: 350px;
    width: var(--book-card-width);
    border: .15rem solid var(--white);
    border-radius: var(--border-radius);
    color: var(--white);
    display: block;
        grid-template-areas:
        "book-card-nav-top"
        "book-card-info"
        "book-card-cover"
        "book-card-nav-bot"
        "book-card-nav-top-edit"
        "edit-book-form";
    margin: .25rem;
    overflow: hidden;
}

book-card:hover{
    background: var(--dark-80);
}

book-card-cover {
    grid-area: book-card-cover;
    height: var(--cover-info-size);
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 0;
    padding: .5rem;
}

book-card-cover img{
    height: calc(var(--cover-info-size) - 30px);
}

book-card-info {
    grid-area: book-card-info;
    height: var(--cover-info-size);
    display: none;
        flex-direction: column;
        justify-content: start;
    margin: 0;
    padding: .5rem;
    text-align: center;
}

book-card-info p {
    font-size: 1rem;
}

.bk-title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: .5rem;
}

.bk-author {
    font-size: 1rem;
    font-weight: 600;
}

book-card-nav-top, book-card-nav-bot, book-card-nav-top-edit {
    background: transparent;
}

book-card-nav-top {
    grid-area: book-card-nav-top;
    display: none;
        justify-content: space-between;
}

book-card-nav-bot {
    grid-area: book-card-nav-bot;
    align-self: end;
    display: flex;
        justify-content: space-evenly;
}

book-card-nav-top-edit {
    grid-area: book-card-nav-top-edit;
    display: none;
        justify-content: end;
        align-items: center;
}

/* --> Edit-book-form            */

.edit-book-form {
    grid-area: edit-book-form;
    height: var(--cover-info-size);
    display: none;
        justify-content: space-evenly;
        align-items: center;
    margin: 0;
    padding: .5rem;
}

.edit-book-form input[type="text"], .edit-book-form input[type="number"] {
    height: 1.5rem;
    width: var(--edit-form-input-width);
    border: var(--border-px) solid var(--white);
    border-radius: var(--border-radius);
    font-family: "Teachers", sans-serif;
    font-size: 1rem;
    outline: none;
    margin-bottom: 1rem;
    padding-left: .5rem;
}

.edit-book-form input[type="text"]:hover, .edit-book-form input[type="number"]:hover  {
    border: var(--border-px) solid var(--candle);
}

.edit-book-form input[type="text"]:focus, .edit-book-form input[type="number"]:focus  {
    background: var(--sea);
}

.non-radio-edit-label {
    align-self: start;
    padding: .25rem 0 .25rem .5rem;
}

.radio-edit-label {
    align-self: start;
    padding-right: 1rem;
}

.flex-div1 {
    display: flex;
        justify-content: space-evenly;

 }

.flex-div2 {
    display: flex;
        justify-content: space-between;
}


/* FOOTER                        */

footer {
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 1rem;
    padding: 1rem;
}

footer p {
    color: var(--candle);
    font-size: 1rem;
    text-align: center;
}


/* BUTTONS                       */

button {

    background: var(--life-jacket);
    border: .15rem solid var(--white);
    border-radius: var(--border-radius);
    color: var(--white);

    cursor: pointer;
    display: flex;
        justify-content: center;
        align-items: center;
}
   
button:hover {
    background: var(--dk-sea);
}

button:active {
    background: var(--sea);
}

.menu-btn {
    height: 3.15rem;
    width: 3.15rem;
}

.menu-btn img{
    height: 1.8rem;
}

.book-card-round-btns {
    height: 2.5rem;
    width: 2.5rem;
}

.book-card-round-btns img {
    height: 1.5rem;
}

book-card-nav-top .book-card-round-btns, book-card-nav-top-edit .book-card-round-btns {
    margin: 1rem 1rem 0 1rem;
}

book-card-nav-top-edit .other-btn {
    margin: 1rem 0 0 1rem;
}

.other-btn {
    height: 2.5rem;
    width: 5.75rem;
    border-radius: var(--border-radius);
    font-size: 1rem; 
        font-weight: 600;
    margin: 0 .25rem 1rem .25rem;
}

#add-book-enter-btn, #search-enter-btn {
    height: 2.5rem;
    width: 7rem;
    margin-top: .5rem;
}


/* RADIOS                        */

input:where([type="radio"]){
    -webkit-appearance: none;
    appearance: none;
    height: 22px;
    width: 22px;
    background: var(--white) no-repeat center center;  
    border: var(--border-px) solid var(--white);
    border-radius: var(--border-radius);  
    margin: calc(0.75em - 11px) 0.25rem 0 0;
    vertical-align: top; 
}

input[type="radio"]{
    border-radius: var(--border-radius);
}

input:where([type="radio"]):where(:active:not(:disabled), :hover){
    border-color: var(--candle);
    outline: none;      
}

input:where([type="radio"]):where(:active:not(:disabled), :focus){
  border-color: var(--sea);
  outline: none;      
}

input[type="radio"]:checked{
  background: var(--life-jacket);
}