@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');


:root {
    /* --life-jacket: #f26627; */
    --life-jacket: #994c29;
    --candle: #f9a26c;
    --white: #efeeee;
    /* --white: #d5cbc8; */
    --sea: #9bd7d1;
    /* --dk-sea: #325d79; */
    --dk-sea: #1f3848;
    --dark: #292D32;

    --cover-info-size: 270px;
    --form-width: 290px;
}

body {
    /* height: 100vh;
    width: 100vw; */
    background: var(--dk-sea);
    border: none;
    color: none;
    display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: normal;
    margin: auto;
}

dialog {
    /* height: 100vh;
    width: 100vw; */
    height: auto;
    width: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: var(--dark);
    color: var(--white);
      bottom: 0;
    border: .15rem solid var(--dark);
    border-radius: 1rem;
    /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
}

#add-book-form {

}

form {
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.btn-x-out-modal {
    align-self: center;
    /* margin-top: .25rem; */
}

fieldset {
    width: var(--form-width);
    background: var(--dark);
    border-color: var(--white);
    border-radius: 1rem;
    display: flex;
        justify-content: space-around;
        align-items: center;
    font-size: 1rem;;
    margin: .25rem;
    text-align: center;
}

fieldset:hover, fieldset:focus {
    border-color: var(--candle);
}

form-header {
    height: 4rem;
    width: var(--form-width);
    border: none;
    color: var(--white);
    display: grid;
        grid-template-columns: .5fr 2.5fr .5fr;
        place-content: space-evenly;
        place-items: center;
    margin: 0 0 .75rem 0;
    padding: 0;
}

form-header h3 {
    /* background: var(--sea); */
    font-size: 1.45rem;
    line-height: 2.25;
}

form-header img {
    height: 2.5rem;
}

form-footer {
    margin-top: .25rem;
}

fieldset legend {
    font-weight: 600;
    text-align: left;
}

input[type="text"], input[type="number"]  {
    height: 1.5rem;
    width: 250px;
    border: 3px solid var(--white);
    border-radius: 1rem;
    font-family: "Teachers", sans-serif;
    font-size: 1rem;
    outline: none;
    padding-left: .5rem;
}

/* input[type="text"]:focus, input[type="number"]:focus  {
    border: 3px solid var(--candle);
} */

input[type="radio"] {

}

.label-radio {
    padding: 0 .2rem 0 .2rem;

}

label {
    font-size: 1rem;    
    margin-bottom: .5rem;
}

header {
    margin: .5rem;
    padding: .5rem;
}

title-container {
    height: 1rem;
    width: auto;
}

img-and-txt {
    display: flex;
        justify-content: center;
        align-items: center;
    margin-bottom: .5rem;
}

title-container img {
    height: 3.5rem;
}

title-container h1 {
    align-self: center;
    color: var(--white);
    font-family: "Platypi", 'Times New Roman', Times, serif;
    font-size:2rem;
    font-weight: 500;
    padding-left: .25rem;
}

button-ctrl-container {
    max-width: 900px;
    align-self: center;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        justify-content: center;
        align-items: center;
        place-items: center;
    margin: auto;
}
button {
    cursor: pointer;
}

.menu-btn {
    height: 3.15rem;
    width: 3.15rem;
    background-color: var(--life-jacket);
    border: .15rem solid var(--white);
    border-radius: 100%;
    color: var(--white);
    margin: .2rem;
}

.menu-btn img{
    height: 1.8rem;
}

.menu-btn:hover {
    background: var(--dk-sea);
}

#add-book-enter-btn {
    height: 2.25rem;
    width: auto;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: .05rem;
}

main-content-container {
    display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}

book-card {
    width: 250px;
    border: .15rem solid;
    border-color: var(--white);
    /* border:none; */
    border-radius: 1rem;
    color: var(--white);
    display: grid;
        grid-template-areas:
        "book-card-nav-top"
        "book-card-content"
        "book-card-nav-bot";
    margin: 1rem 1rem 0 1rem;
}

/* .fic-non-border-color {
    border-color: red;
} */

book-card:hover{
    background: var(--dark);
}

book-card-content {
    grid-area: book-card-content;
}

book-card-cover {
    height: var(--cover-info-size);
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 0;
    padding: .5rem;
}

book-card-cover img{
    height: calc(var(--cover-info-size) - 30px);
}

book-card-info {
    height: var(--cover-info-size);
    display: none;
        flex-direction: column;
        justify-content: start;
    margin: 0;
    padding: .5rem;
    text-align: center;
}

book-card-info p {
    font-size: 1rem;
}

.bk-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.bk-author {
    font-size: 1.15rem;
}

book-card-nav-top, book-card-nav-bot {
    background: transparent;
}

book-card-nav-top {
    grid-area: book-card-nav-top;
    /* align-self: start; */
    display: none;
        justify-content: space-between;
}

book-card-nav-bot {
    grid-area: book-card-nav-bot;
    align-self: end;
    display: flex;
        justify-content: space-evenly;
}

.bk-btns {
    height: 2.5rem;
    width: 2.5rem;
    background: var(--life-jacket);
    border: .15rem solid var(--white);
    border-radius: 50%;
    display: flex;
        justify-content: center;
        align-items: center;
}

.bk-btns img {
    height: 1.5rem;
}

book-card-nav-top .bk-btns {
    margin: 1rem 1rem 0 1rem;
}

book-card-nav-bot .bk-btns {
    margin-bottom: 1rem;
}

.btn-info:hover, .btn-edit:hover, .btn-x-out:hover {
    background: var(--dk-sea);
}

/* .tog-not-read {
    display: flex;
}

.tog-read {
    display: none;
}

.tog-not-fave {
    display: flex;
}

.tog-fave {
    display: none;
} */

footer {
    display: flex;
        justify-content: center;
        align-items: center;
    margin: 1rem;
    padding: 1rem;
}

footer p {
    color: var(--candle);
    font-size: 1rem;
    text-align: center;
}

/* @media (width >= 1080px) {
body {
width: 65vw;

}
} */